# Зависимости Node
node_modules/
package-lock.json
npm-debug.log*

# Папка сборки Webpack
/dist

# Файлы конфигурации и системные файлы
.DS_Store
.vscode/

# Отчеты о покрытии тестов Jest (ДОБАВЛЕНО)
coverage/
clover.xml
lcov.info
lcov-report/
coverage-final.json